.about {
  max-width: 1200px;
  margin: auto;
  padding: 80px 20px;
  color: #FF5722
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Chakra Petch', sans-serif;
}

.section-title h2 {
  font-size: 40px;
  color: #a855f7;
  font-family: 'Chakra Petch', sans-serif;
}

.section-title p {
  color: #FF5722;
  margin-top: 10px;
  font-family: 'Chakra Petch', sans-serif;
}

.about-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  align-items: center;
  font-family: 'Chakra Petch', sans-serif;
}

.about-text h3 {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: 'Quantico', sans-serif;
}

.about-text p {
  color: #ffffff;
  line-height: 1.9;
  margin-bottom: 18px;
  font-size: 17px;
  font-family: 'Chakra Petch', sans-serif;
}

.about-cards {
  display: grid;
  gap: 20px;
  font-family: 'Chakra Petch', sans-serif;
}

.about-card {
  background: #111827;
  border: 1px solid #1f2937;
  border-radius: 14px;
  padding: 25px;
  text-align: center;
  transition: 0.3s;
}

.about-card:hover {
  transform: translateY(-5px);
  border-color: var(--primary);
}

.about-card h3 {
  color: #a855f7;
  font-size: 34px;
}

.about-card span {
  color: #ffffff;
  font-size: 15px;
}

@media (max-width: 900px) {
  .about-container {
    grid-template-columns: 1fr;
  }

  .about-text {
    text-align: center;
  }
}