.contact {
  padding: 90px 20px;
  text-align: center;
}


.contact-container {
  max-width: 900px;
  margin: auto;
}


.contact h2 {
  color: #4da3ff;
  font-size: 40px;
  margin-bottom: 20px;
}


.contact-description {
  color: #cbd5e1;
  font-size: 18px;
  line-height: 1.7;
  max-width: 650px;
  margin: auto;
}


.contact-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 35px 0;
  flex-wrap: wrap;
}


.contact-links a {
  display: flex;
  align-items: center;
  gap: 8px;

  background: #111827;
  color: #ffffff;

  padding: 12px 25px;
  border-radius: 30px;

  text-decoration: none;

  border: 1px solid #1f2937;

  transition: 0.3s;
}


.contact-links a:hover {
  border-color: #4da3ff;
  color: #4da3ff;
  transform: translateY(-4px);
}


.contact .resume-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin-top: 10px;
  padding: 14px 35px;

  background: #4da3ff !important;
  color: #050816 !important;

  border-radius: 30px;
  border: 2px solid #4da3ff;

  text-decoration: none;
  font-weight: 700;
  font-size: 16px;

  transition: all 0.3s ease;
}


.contact .resume-btn:hover {
  background: white !important;
  color: #050816 !important;
  border-color: white;

  transform: translateY(-4px);
}
