.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 20px;

  background: rgba(5, 8, 22, 0.85);
  backdrop-filter: blur(12px);

  box-shadow:0 8px 30px rgba(0,0,0,.25);
  border-bottom:1px solid rgba(255,255,255,.06);
  font-family: 'Chakra Petch', sans-serif;
}


/* Logo + Tagline */

.logo-container {
  display: flex;
  flex-direction: column;
}


.logo a {
  text-decoration: none;
  color: #a855f7;

  font-size: 28px;
  font-weight: 700;
}


.brand-tagline {
  margin-top: 5px;

  font-size: 12px;
  color: #d1d5db;

  white-space: nowrap;
}


.brand-subtag {
  margin-top: 2px;

  font-size: 11px;
  color: #9ca3af;

  white-space: nowrap;
}


/* Navigation */

.nav-links {
  display: flex;

  align-items: center;

  gap: 25px;

  list-style: none;
}


.nav-links a{

  position:relative;

  display:inline-block;

  color:#B7C2CF;

  text-decoration:none;

  font-weight:500;

  padding:1px 1px;

  transition:
    color .35s ease,
    transform .35s ease;

}


/* ==========================================
   MENU HOVER TEXT COLORS
========================================== */

/* Home */

.nav-links li:nth-child(1) a:hover{
  color:#38bdf8;
  transform:translateY(-2px);
}

/* About */

.nav-links li:nth-child(2) a:hover{
  color:#22d3ee;
  transform:translateY(-2px);
}

/* Skills */

.nav-links li:nth-child(3) a:hover{
  color:#4ade80;
  transform:translateY(-2px);
}

/* Experience */

.nav-links li:nth-child(4) a:hover{
  color:#fb923c;
  transform:translateY(-2px);
}

/* Projects */

.nav-links li:nth-child(5) a:hover{
  color:#c084fc;
  transform:translateY(-2px);
}

/* Case Studies */

.nav-links li:nth-child(6) a:hover{
  color:#FA1EEF;
  transform:translateY(-2px);
}


/* Contact */

.nav-links li:nth-child(7) a:hover{
  color:#fb7185;
  transform:translateY(-2px);
}

/* ==========================================
   Premium Animated Underline
========================================== */

.nav-links a::after{

  content:"";

  position:absolute;

  left:50%;
  bottom:-6px;

  width:0;
  height:1px;

  border-radius:999px;

  transition:
      width .35s ease,
      left .35s ease,
      box-shadow .35s ease;

}

.nav-links a:hover::after{

 overflow:hidden;

  width:100%;

  left:0;

  box-shadow:
      0 0 10px rgba(59,130,246,.45),
      0 0 18px rgba(139,92,246,.30);

}

/* ===================================================
   MENU SPECIFIC UNDERLINE COLORS
=================================================== */

/* Home */

.nav-links li:nth-child(1) a::after{

  background:linear-gradient(
    90deg,
    #38bdf8,
    #2563eb
  );

}

.nav-links li:nth-child(1) a:hover::after{

  box-shadow:0 0 12px rgba(59,130,246,.45);

}


/* About */

.nav-links li:nth-child(2) a::after{

  background:linear-gradient(
    90deg,
    #06b6d4,
    #22d3ee
  );

}

.nav-links li:nth-child(2) a:hover::after{

  box-shadow:0 0 12px rgba(34,211,238,.45);

}


/* Skills */

.nav-links li:nth-child(3) a::after{

  background:linear-gradient(
    90deg,
    #22c55e,
    #4ade80
  );

}

.nav-links li:nth-child(3) a:hover::after{

  box-shadow:0 0 12px rgba(34,197,94,.45);

}


/* Experience */

.nav-links li:nth-child(4) a::after{

  background:linear-gradient(
    90deg,
    #f59e0b,
    #facc15
  );

}

.nav-links li:nth-child(4) a:hover::after{

  box-shadow:0 0 12px rgba(245,158,11,.45);

}


/* Projects */

.nav-links li:nth-child(5) a::after{

  background:linear-gradient(
    90deg,
    #8b5cf6,
    #c084fc
  );

}

.nav-links li:nth-child(5) a:hover::after{

  box-shadow:0 0 12px rgba(139,92,246,.45);

}


/* Case Studies */

.nav-links li:nth-child(6) a::after{

  background:linear-gradient(
    90deg,
    #c708be,
    #FA1EEF
  );

}

.nav-links li:nth-child(6) a:hover::after{

  box-shadow:0 0 12px rgba(236, 72, 189, 0.45);

}



/* Contact */

.nav-links li:nth-child(7) a::after{

  background:linear-gradient(
    90deg,
    #ec4899,
    #fb7185
  );

}

.nav-links li:nth-child(7) a:hover::after{

  box-shadow:0 0 12px rgba(236,72,153,.45);

}



/* Resume Button */

.resume-btn {

  text-decoration: none;

  color: #050816;

  background: #a855f7;

  padding: 10px 22px;

  border-radius: 25px;

  transition: 0.3s;

  font-weight: 700;
}


.resume-btn:hover {

  background: #ffffff;

  color: #FF5722;

}


/* Logo wrapper */
.logo-brand{
  display:flex;
  align-items:center;
  gap:12px;
}

/* Icon */
.logo-icon{
  width:44px;
  height:44px;
  object-fit:contain;
  border-radius:50%;
  display:block;
}

/* Text */
.logo-text{
  margin:0;
  color:#a855f7; /* purple */
  font-weight:700;
  line-height:1.1;
}


/* Mobile */

@media (max-width: 900px) {

  .navbar {

    flex-direction: column;

    gap: 20px;

    padding: 20px;

  }


  .logo-container {

    text-align: center;

  }


  .nav-links {

    flex-wrap: wrap;

    justify-content: center;

    gap: 18px;

  }

}

@media (max-width:600px){

  .logo-icon{
    width:36px;
    height:36px;
  }

  .logo-text{
    font-size:28px; /* প্রয়োজন হলে কম/বেশি করো */
  }

}