.projects {
  max-width: 1250px;
  margin: auto;
  padding: 90px 20px;
}

.company-title {
  color: #4da3ff;
  font-size: 30px;
  margin: 60px 0 30px;
  border-left: 5px solid #4da3ff;
  padding-left: 15px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 30px;
}

.project-card {
  background: #111827;
  border: 1px solid #1f2937;
  border-radius: 18px;
  padding: 28px;
  transition: all 0.35s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  border-color: #4da3ff;
  box-shadow: 0 15px 35px rgba(77, 163, 255, 0.18);
}

.project-header {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 20px;
}

.project-logo {
  width: 68px;
  height: 68px;
  border-radius: 18px;
  object-fit: cover;
  background: white;
  border: 2px solid #1f2937;
  transition: .3s;
}

.project-card:hover .project-logo {
  transform: scale(1.08);
  border-color: #4da3ff;
}

.project-header h3 {
  margin: 0;
  color: white;
  font-size: 26px;
}

.role {
  display: inline-block;
  margin-top: 6px;
  color: #4da3ff;
  font-size: 15px;
  font-weight: 600;
}

/* Platform */

.platform-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 18px 0;
}

.platform-badges span {
  background: rgba(77,163,255,.12);
  color: #dbeafe;
  border: 1px solid rgba(77,163,255,.25);
  border-radius: 999px;
  padding: 8px 15px;
  font-size: 13px;
  font-weight: 600;
}

/* Description */

.project-description {
  color: #d1d5db;
  line-height: 1.7;
  margin-bottom: 22px;
}

/* Heading */

.project-card h4 {
  color: white;
  margin: 18px 0 12px;
  font-size: 17px;
}

/* Badges */

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.badges span {
  background: #1f2937;
  color: #d1d5db;
  padding: 8px 14px;
  border-radius: 999px;
  font-size: 13px;
  transition: .25s;
}

.badges span:hover {
  background: #4da3ff;
  color: #050816;
}

/* Links */

.project-links {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 28px;
}

.project-links a {
  display: flex;
  align-items: center;
  gap: 8px;

  text-decoration: none;

  background: #4da3ff;
  color: #050816;

  padding: 10px 18px;

  border-radius: 10px;

  font-weight: 700;

  transition: .3s;
}

.project-links a:hover {
  background: white;
  color: #050816;
  transform: translateY(-3px);
}

/* Responsive */

@media(max-width:992px){

.projects-grid{
grid-template-columns:1fr;
}

.company-title{
font-size:26px;
}

}

@media(max-width:600px){

.project-card{
padding:22px;
}

.project-header{
flex-direction:column;
text-align:center;
}

.project-logo{
width:80px;
height:80px;
}

.project-links{
justify-content:center;
}

.platform-badges{
justify-content:center;
}

.badges{
justify-content:center;
}

}